@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

* {


  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cormorant, serif;
transition: all 1s ease-in-out;


}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 100;

}

li {
  list-style: none;
}

nav {

  padding: 0% 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(20, 6, 9);
}

.nav-logo {
  width: 50%;
}

.nav-logo img {
  margin-top: 5%;
  width: 27%;
}

.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;

}

.nav-right a {
  font-size: 1.05rem;
}

.nav-right a:hover {
  text-decoration: underline rgb(128, 7, 51) .05em;
  text-underline-offset: 2vh;
  transition: all 1s ease;
}

nav button {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  color: rgb(208, 203, 203);
}

.sec1 {
  background-image: linear-gradient(rgb(20, 7, 8), rgb(59, 24, 47));

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.sec1-left {
  margin: 0% 0% 0% 8%;
  width: 40%;
}

.sec1-left h1 {
  font-weight: 500;
  font-size: 3.2rem;
  color: rgb(247, 247, 242);
  margin: 3% 0%;

}

.sec1-left span,
p {
  font-family: Geneva, Tahoma, sans-serif;
  width: 90%;
  margin: 1% 0%;
  color: rgb(171, 171, 169);
}

.sec1-left button {
  margin: 2% 0%;
  padding: 2% 5%;
  background: rgba(125, 70, 114, 0.425);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.813);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 3vw;
  font-size: 1rem;
  color: white;
  font-family: Geneva, Verdana, sans-serif;

}

.sec1-left button:hover {
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.422);
  transition: all 1s ease;

}

.sec1-right {
  width: 35%;
  height: 100vh;
  margin-top: -5%;
}

.sec1-right .spline {

  transform: scale(.9);
}

.sec2 {
  background-image: linear-gradient(rgb(59, 24, 47));

  padding: 5%;
}

#head {
  margin: 0% 0% 5% 8%;
  font-size: 3.3rem;
  color: rgb(250, 250, 247);
}

.sec2-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skill-card {
  width: 30%;
  border: .01em solid rgb(20, 7, 8);
  background-color: rgba(46, 16, 28, 0.372);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.639);
  padding: 2.2% 0% 2.2% 5%;
  border-radius: .5vw;
  cursor: pointer;


}

.skill-card:hover {
  transform: translateY(-5%);
  box-shadow: 1px 5px 5px 5px rgba(32, 12, 25, 0.701);
  transition: all 1s ease-in-out;


}

.skill-card h1 {
  color: antiquewhite;
}

.skill-card h2 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin: 5% 0%;
}

.skill-card h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: .9em;

  color: rgb(171, 171, 169);
}

.sec3 {
  background-image: linear-gradient(rgb(59, 24, 47), rgb(20, 7, 8));
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  padding: 6%;
  background-color: rgba(46, 16, 28, 0.372);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.769);
  border-radius: .3vw;
}

.contact form {
  display: flex;
  flex-direction: column;

}

input {
  background-color: transparent;
  border: none;
  border-bottom: .02em solid rgb(94, 38, 69);
  margin: 5% 0%;
  color: rgb(193, 190, 187);
  padding: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;

}

label {
  color: rgb(216, 213, 208);
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input textarea {
  color: antiquewhite;
}

input:focus {
  outline: none;
}

input:hover {
  border-bottom: .02em solid rgb(160, 37, 86);
}

.contact button {
  border: none;
  background-color: rgba(94, 38, 69, 0.233);
  width: 30%;
  padding: 2% 0%;
  font-size: 1.1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.495);
  color: rgb(208, 205, 202);
  margin-top: 5%;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-image: linear-gradient(rgb(20, 7, 8));
  width: 100%;
}

footer .li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  border-top: .02em solid #57243b;
  width: 80%;
  padding: 2%;
  font-size: 1.2em;
  align-items: center;

}

footer li {
  width: 10%;
  color: rgb(191, 192, 187);
  border: .02em solid #57243b;
  box-shadow: 0px 0px 5px 2px rgb(72, 18, 52);
  padding: 50% 150% 50% 50%;
  border-radius: 50%;
}

footer li:hover {
  transition: all 1s ease-in-out;
  transform: translateY(-5%);
  box-shadow: 0px 5px 5px 1px rgba(72, 18, 52, 0.311);

}

@media (max-width:992px) {

  .sec1-left {
    width: 70%;
  }

  .skill-card {
    width: 40%;
    margin-top: 5%;
  }

  .contact {
    width: 80%;
  }

  footer .li {
    font-size: 1em;
    gap: 10%;
  }
}

@media (max-width:768px) {

  .sec1-left {
    width: 70%;
  }

  .skill-card {
    width: 80%;
    margin-top: 5%;
  }

  footer .li {
    font-size: 1em;
    gap: 10%;
  }
}

@media (max-width:650px) {
  .nav-logo {
    width: 90%;
  }

  nav button {
    width: 10%;
  }

  

  .sec1-left h1 {
    font-size: 2.5em;
  }

  .sec1-left span,
  p {
    font-size: 1em;
  }

  .sec1-left {
    width: 80%;
  }

  .sec1-right {
    width: 80%;
  }

  .nav-right {
    display: none;

  }

  nav button {
    display: block;
  }

  footer .li {
    font-size: .8em;
    gap: 10%;
  }

}